<h1 id="">New Boo</h1>

<%= simple_form_for @book do |f|  %>
  <%= f.input :title %>
  <%= f.input :author %>
  <%= f.input :description %>
  <%= f.input :year %>
  <%= f.input :category %>
  <%= f.button :submit %>
<% end %>

